:root {
   --black: #000000;
   --blue: #3366ff;
   --light-purple-bg: #f7f5fd;
   --light-purple: #ece7fb;
   --ligth-green-bg: #f2faf8;
   --off-white: #fcfaf5;
   --text-color: #2d2d2d;
   --white: #ffffff;
   --ligth-yellow-bg: #fcfaf5;
   --yellow: #f8d57e;
   --font-size-l: 20px;
   --font-size-m: 18px;
   --font-size-s: 6px;
   --font-size-xl: 50px;
   --font-size-xxl: 80px;
   --font-family-poppins: "Poppins", Helvetica;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: #2d2d2d;
}

li {
   list-style-type: none;
}

img {
   max-width: 100%;
   display: block;
}

body {
   font-family: var(--font-family-poppins);
   color: var(--text-color);
}

.container {
   max-width: 1280px;
   margin: 0 auto;
}

h1 {
   font-weight: 600;
   font-size: var(--font-size-xxl);
   line-height: 90px;
   margin-bottom: 30px;
   max-width: 8ch;
}

.button {
   font-weight: 400;
   font-size: var(--font-size-m);
   line-height: 32px;
   padding: 16px 50px;
   background: var(--yellow);
   border-radius: 10px;
   display: inline-block;
}

/* Header */
header {
   background-color: var(--light-purple-bg);
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   place-items: center;
   padding: 23px 100px;
   background-color: var(--white);
}

.menu {
   display: flex;
   gap: 30px;
   align-items: center;
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
}

.menu-login a {
   color: var(--off-white);
   padding: 12px 50px;
   background: var(--blue);
   border-radius: 10px;
   display: inline-block;
}

.banner {
   padding: 70px 100px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 70px;
}

.banner-text p {
   font-weight: 400;
   font-size: var(--font-size-m);
   line-height: 32px;
   color: var(--text-color);
   opacity: 0.5;
   margin-bottom: 60px;
}

.video {
   display: flex;
   justify-content: center;
   padding-top: 70px;
   padding-bottom: 70px;
   background-color: var(--ligth-green-bg);
}

/* PARTNERS */

.partners > .container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 70px;
   padding-top: 80px;
   padding-bottom: 80px;
}

.services > .container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 60px;
   max-width: 1100px;
   padding-top: 116px;
   padding-bottom: 116px;
   text-align: center;
}

.services-item {
   display: grid;
   justify-items: center;
}

.services-item > h3 {
   font-size: var(--font-size-m);
   font-weight: 600;
   line-height: 32px;
   margin-top: 40px;
}

.services-item > p {
   font-size: var(--font-size-m);
   font-weight: 400;
   line-height: 32px;
   opacity: 0.5;
   margin-top: 15px;
}

/* TESTIMONY */

.testimony {
   background-color: var(--light-purple);
}

.testimony > .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   max-width: 800px;
   padding-top: 50px;
   padding-bottom: 50px;
}

.testimony-text p {
   font-size: var(--font-size-m);
   font-weight: 600;
   line-height: 32px;
   margin-top: 20px;
   margin-bottom: 40px;
}

.testimony-text span {
   font-size: var(--font-size-m);
   font-weight: 400;
   line-height: 32px;
   opacity: 0.5;
}

/* CONTACT */

.contact {
   background-color: var(--ligth-yellow-bg);
}

.contact > .container {
   display: grid;
   grid-template-columns: 1fr 1.2fr;
   align-items: center;
   gap: 100px;
   padding-top: 60px;
   padding-bottom: 60px;
   max-width: 960px;
}

.contact-text > p {
   font-weight: 400;
   font-size: var(--font-size-m);
   line-height: 32px;
   margin-bottom: 40px;
   opacity: 0.4;
}
